html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.companyList {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

@media print {
    .municipalityDiv, .domainDiv {
        page-break-after: always;
    }

    .company {
        page-break-inside: avoid;
    }

    .companyList {        
        display: initial;
        margin-right: 10px;
        overflow: visible;
        float: none;
    }
}

.domainHeading, .municipalityHeading {
    grid-column: 1 / -1;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    overflow: hidden;
}

.company {
    width: 100%;
    border-style: dashed !important;
    border-left-width: 0px;
    border-right-width: 0px;
}

.companyTable {
    width: 100%;
}

.contactData {
    vertical-align: center;
    text-align: left;
}

.companyInfo {
    vertical-align: center;
    text-align: right;
}